/*
*   This file contains universal styling for major components
*   of the web page. Styling for individual features are broken
*   down into the following individual files:
*   - loading screen: loading.css
*   - overlaid information windows: overlays.css
*   - help window:  help.css
*   - mobile browsers: mobile.css
*   

TO BE IMPLEMENTED STILL:
*   - general info window: geninfo.css
*  ???? - Banner (bottom left with vpc logo and help button) banner.css ?????
*/
html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#map { 
    position: relative;
    height: 100%;
    z-index:1;
} 

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info h2 {
    font: 15px Arial, Helvetica, sans-serif;
    margin: 0 0 1px;
    color: #1313f5;
}

.VPCinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.VPCinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

/* grey background */
#overlay {
    visibility: hidden; 
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:left;
    z-index: 10;
    background: rgba(0,0,0,0.2);
}

/*white box for text overlay*/
#inner{
    width: 80%;
    max-width: 500px;
    height: calc(100% - 260px);
    margin: auto;
    float: center;
    top:120px;
    left:0; 
    right:0;
    text-align:left;
    padding-top:0px;
    padding-bottom:0px;
    max-height:100%;
    padding-left:8px;
    padding-right:8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 0px;
    overflow-y:auto;
    position: absolute;
    
}
/* Apply to all divs within inner, this lets you
*   dynamically resize boxes with overlay info
*   BE CAREFUL, this is applied to
*   #topBar, .bottomBar, and .moreInfo
*/
#inner * {
    max-height:80%;
}

#inner::-webkit-scrollbar {
-webkit-appearance: none;
width: 10px;
}
#inner::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#overlay::first-line { 
    margin-top:20px;
    text-align:center;
}

/*button (so you can use href with a button set from script)*/
a.button {
    margin:10px;
    border: 5px solid;
    border-radius: 5px;
    border-color: white;
    height: auto;
    float:right;
    background-color: white;
    text-decoration: none;
    color: initial;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

a.button:hover { 
    background-color: powderblue;
    border-color: powderblue;    
}

/*button (so you can use href with a button set from script)*/

a.Xbutton{
    border: 4px solid;
    border-radius: 15px;
    border-color: rgba(255,255,255,0.0);
    height: auto;
    float: right;
    background: rgba(87, 87, 87, 1);
    box-shadow: 0 0 15px rgba(0,0,0,0.0);
    color: #e5e5e5;
    width:auto;
}
a.Xbutton:hover{
    border-color: powderblue; 
}