html, body
{
    height: 98%;
}

#map { 
    height: 100%;
    z-index:1;
} 

.legend {
    line-height: 18px;
    color: #555;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.VPCinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.VPCinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* modal dialog box (island info window) stuff */

/* grey background */
#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:left;
     z-index: 1000;
     background: rgba(0,0,0,0.2);
    
}

/*white box for text overlay*/
#overlay div {
     width:300px;
     height: 30%;
     margin: 150px auto;
     float: center;
     left:  0px;
     text-align:left;
     padding: 6px 8px;
     font: 14px/16px Arial, Helvetica, sans-serif;
     background: white;
     background: rgba(255,255,255,0.8);
     box-shadow: 0 0 15px rgba(0,0,0,0.2);
     border-radius: 5px;
     overflow: auto;
}

#overlay::first-line { 
    text-align:center;
}

/*button (so you can use href with a button set from script)*/
a.button {
    border: 5px solid;
    border-radius: 5px;
    border-color: white;
    height: auto;
    float: right;
    background-color: white;
    text-decoration: none;
    color: initial;
}

a.button:hover { 
    background-color: powderblue;
    border-color: powderblue;    
}

/*button (so you can use href with a button set from script)*/
a.Xbutton {
    border: 4px solid;
    border-radius: 15px;
    border-color: rgba(255,255,255,0.0);
    height: auto;
    float: right;
    background:  rgba(255,255,255,0.0);
    color: initial;
}

a.Xbutton:hover { 
    border-color: powderblue;  
}
