html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#map { 
    position: relative;
    height: 100%;
    z-index:1;
} 

.legend {
    line-height: 18px;
    color: #555;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info h2 {
    font: 15px Arial, Helvetica, sans-serif;
    margin: 0 0 1px;
    color: #1313f5;
}


.VPCinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.VPCinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* modal dialog box (island info window) stuff */

/* grey background */
#overlay {
    visibility: hidden; 
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:left;
    z-index: 10;
    background: rgba(0,0,0,0.2);
}

/*white box for text overlay*/
#inner{
    width: 80%;
    max-width: 500px;
    height: calc(100% - 260px);
    margin: auto;
    float: center;
    top:120px;
    left:0; 
    right:0;
    text-align:left;
    padding-top:0px;
    padding-bottom:0px;
    max-height:100%;
    padding-left:8px;
    padding-right:8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 0px;
    overflow:auto;
    position: absolute;
    
}
/* Apply to all divs within inner, this lets you
*   dynamically resize boxes with overlay info
*   BE CAREFUL, this is applied to
*   #topBar, .bottomBar, and .moreInfo
*/
#inner * {
    max-height:40%;
}

#inner::-webkit-scrollbar {
-webkit-appearance: none;
width: 10px;
}
#inner::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#overlay::first-line { 
    margin-top:20px;
    text-align:center;
}

/*Help window*/
#help {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:left;
    background: rgba(0,0,0,0.3);
    z-index:100;
    position: absolute;
}

#help div{
    width: calc(100% - 100px);
    max-width: 890px;
    height: calc(100% - 100px);
    float: center;
    margin: auto;
    top:0; bottom:0; left:0; right:0;
    text-align:left;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    border-radius: 5px;
    overflow: auto;
    z-index:150;
    position: absolute;
}

/*Loading screen stuff*/
#loadingScreen {
    visibility: hidden;
    position: absolute;
    left: 0px;
    bottom:0px;
    width:100%;
    height:100%;
    text-align: center;
    background: rgba(0,0,0,0.6);
    z-index:100;
    position: absolute;
}

#loadingTop{
    z-index:101;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 70px;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

#loadingBottom{
    z-index:101;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

/*button (so you can use href with a button set from script)*/
a.button {
    border: 5px solid;
    border-radius: 5px;
    border-color: white;
    height: auto;
    float: right;
    background-color: white;
    text-decoration: none;
    color: initial;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

a.button:hover { 
    background-color: powderblue;
    border-color: powderblue;    
}

/*button (so you can use href with a button set from script)*/

a.Xbutton{
    border: 4px solid;
    border-radius: 15px;
    border-color: rgba(255,255,255,0.0);
    height: auto;
    float: right;
    background:  rgba(255,255,255,0.0);
    box-shadow: 0 0 15px rgba(0,0,0,0.0);
    color: #e5e5e5;
    width:auto;
}
a.Xbutton:hover{
    border-color: powderblue; 
}

/*Button for closing out of the "loading..." screen*/
a.Close {
    border: 3px solid;
    border-radius: 10px;
    border-color: paleturquoise;
    height: auto;
    float: center;
    background: snow;
    color: initial;
    padding: 4px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font: 14px/16px; /* Arial, Helvetica, sans-serif;*/
}

a.Close:hover { 
    border-color: dimgray;  
    background-color: chartreuse;
}

/*table settings*/

td {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  background: lightblue;
}
th {
  background: lightblue;
  border-color: white;
}

/*id styling for title bar of more info window*/
#topBar	{ 
    color: rgb(250, 250, 250);
    position: fixed;
    width: 80%;
    max-width: 500px;
    top:70px;
    margin-left:-8px;
    padding-right:16px;
    background: rgba(87, 87, 87, 1);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    z-index:100;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

/*class styling for bottom bar of more info window*/
.bottomBar{
    color: rgb(250, 250, 250);
    position: fixed;
    width: 80%;
    max-width: 500px;
    bottom:60px;
    margin-left:-8px;
    padding-right:0px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    z-index:100;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    height:60px;
    padding:6px 8px;
    padding-bottom:15px;
    border:10px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
        
}

/* Default class for overlay info box
*       this can be overridden using specific ids 
*       for the various overlays, such as #Bell_Towers{}
*/
.moreInfo{
    padding:10px;
    margin-top:10px;
    margin-bottom:5px;
    top:0;bottom:0;left:0;right:0;
    /*max-height:inherit; /*was 250px*/
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: auto;
    height:auto;
    background-color:whitesmoke;
}
.moreInfo::-webkit-scrollbar {
-webkit-appearance: none;
width: 10px;
}
.moreInfo::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*box containing venipedia and cartography links*/
#inner2{
    
}

/*venipedia link setup*/
#venipediaImage {
    position:absolute;
    width:18%;
    max-width:250px;
    padding:80px 70px;
    background-image: url('image/venipedia.png');
    background-size:80px 70px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    
}
#venipediaImage:hover {
    padding:80px 70px;
    background-image: url('image/venipedia2.png');
    background-size:80px 70px;
    background-repeat: no-repeat;
    
}

/*cartography link setup*/
#cartographyImage{
    position:inherit;
    padding:80px 70px;
    background-image: url('image/hMap.png');
    background-size:80px 70px;
    background-repeat: no-repeat;
    background-position: 100% 0px;
    
}
#cartographyImage:hover{
    padding:80px 70px;
    background-image: url('image/hMap2.png');
    background-size:80px 70px;
    background-repeat: no-repeat;
    
}