<div class="about_modal">
  <span class="close_modal">CLOSE</span>
  <div class="container">
    <h1>How it works!</h1>
    <div class="image_container">
      <img src="/image/guida.png">
    </div>
    <!--p> testo da inserire </p-->
    <a class="my_link guida" target="_blank" rel="nofollow" href="https://docs.google.com/document/d/1Var78LaXMqnSelEoHqCy6MtfxZtBmMrb7V62tg9Ga2I/edit?usp=sharing">Guida completa</a>
  </div>
</div>