<div class="about_modal">
  <span class="close_modal">CLOSE</span>
  <div class="container">
    <h1>How it works!</h1>
    <div class="image_container">
      <img src="/image/guida.png">
    </div>
    <h2>1. Search Box</h2>
    <p>
      The search box is used to search for specific islands by typing in either an island name, number, or ID code. Upon entering a field in this box by either hitting the enter key or clicking the magnifying glass icon, the map will zoom to the selected island.
    </p>

    <h2>2. General Information Box</h2>
    <p>
      The general information box shows information on what your mouse cursor is currently hovering over.
    </p>

    <h2>3. Layer Selection Tool</h2>
    <p>
        The layer selection tool is used to select which base map to display. This tool can be accessed by hovering the mouse cursor over the layer icon located under the General Information window.
    </p>

    <h2>4. Dynamic Filter Tool</h2>
    <p>
      The Dynamic Filter Tool gives the user the ability to filter content being shown on the map. A field to filter by must first be selected in the leftmost dropdown menu. Next, the following dropdown menu can be used to select how to filter by the selected field. The text entry box to the right of this menu is then used to enter a value to compare the selected entry field to.
    </p>


    <h2>5. Dynamic Color Tool</h2>
    <p>
      The dynamic coloring tool can be used to change the colors of each island on the map based on a selected input. You may choose to either color each island randomly, or to use a gradient across multiple islands. Random colorization is useful in cases where the user seeks to color by arbitrary trend, such as color sestiere. Coloring by gradient is useful in situations where the user seeks to display data trends.
    </p>

    <a class="my_link guida" target="_blank" rel="nofollow" 
      href="https://docs.google.com/document/d/1Var78LaXMqnSelEoHqCy6MtfxZtBmMrb7V62tg9Ga2I/edit?usp=sharing">
      Complete Guide
    </a>
  </div>
</div>